


<!DOCTYPE html>
<html>
<head>
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>
    <div class="login-container">
        <h2>Đăng Nhập</h2>

        @if (ViewBag.ErrorMessage != null)
        {
            <div style="color: red;">@ViewBag.ErrorMessage</div>
        }

        <form asp-action="CheckLogin" asp-controller="Login" method="post">
            <div>
                <label for="username">Tên đăng nhập:</label>
                <input type="text" id="username" name="username" required />
            </div>
            <div>
                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password" required />
            </div>
            <div>
                <button type="submit">Đăng Nhập</button>
            </div>
            <div>
                <p>Ban chua co tai khoan? <a asp-controller="" asp-action="Index">Dang ky</a></p>
            </div>
        </form>
    </div>
</body>
</html>
