


<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="~/css/Login.css">
</head>
<body>
	<div class="login-container">
		<h2>Login</h2>
		@if (TempData["SuccessMessage"] != null)
		{
			<div class="alert alert-success">
				@TempData["SuccessMessage"]
			</div>
		}
		@if (TempData["ErrorMessage"] != null)
		{
			<div class="alert alert-danger">
				@TempData["ErrorMessage"]
			</div>
		}
		<form asp-action="CheckLogin" asp-controller="Login" method="post">
			<div>
				<label for="username">Username:</label>
				<input type="text" id="username" name="username" required />
			</div>
			<div>
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" required />
			</div>
			<div>
				<button type="submit">Login</button>
			</div>

			<br />
			@if (ViewBag.ErrorMessage != null)
			{
				<div class="error-message" style="text-align: left">
					@ViewBag.ErrorMessage
					<a asp-action="ForgetPass" asp-controller="Login">Forgotten account?</a>
				</div>
			}else{
				<div class="error-message" style="text-align: left">
					<a asp-action="ForgetPass" asp-controller="Login">Forgotten account?</a>
				</div>
			}

			<div>
				<p>You dont have any account? <a asp-action="Register" asp-controller="Register">Register</a></p>

			</div>

			<div class="social-login">
				<a asp-controller="Login" asp-action="LoginByGoogle">
					<img src="~/images/login/google-icon.png" alt="Google Icon" width="20">
					Login By Google
				</a>
			</div>

		</form>
	</div>
</body>
</html>
