@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Test Email</h1>

<form method="get" action="/Email/SendEmail">
    <input type="email" name="email" placeholder="Nhập email" required />
    <button type="submit">Gửi Email</button>
</form>


<p>Nếu muốn sử dụng vui lòng đọc trong doc (có thể doc chưa cập nhật do Coder vẫn ngủ).</p>
